.ipynb_checkpoints/*
Çizgi Grafik/.ipynb_checkpoints/*
Histogram ve Yoğunluk Grafikleri/.ipynb_checkpoints/*
Isı Haritası (Heat Map)/.ipynb_checkpoints/*
Korelasyon Grafikleri/.ipynb_checkpoints/*
Kutu Grafik (Box Plot)/.ipynb_checkpoints/*
Sütun Grafik (Bar Plot)/.ipynb_checkpoints/*
Veri Seti & İlk Adımlar/.ipynb_checkpoints/*
Violin Grafik/.ipynb_checkpoints/*